.main-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.searchFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchFilter i {
  margin-left: 5px;
}

.dropdownContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    padding: 10px;
}

.photo-container {
  padding: 15px 30px;
}

.photoImage {
    margin: auto;
    align-self: center;
    align-items: center;
    height: 225px;
    vertical-align: middle;
    width: 225px;
    border-radius: 8px;
}